<div class="container">
  <h2>Lista de Clientes</h2>

  <div *ngIf="mensagem" [ngClass]="{'sucesso': !erro, 'erro': erro}" class="mensagem">
    {{ mensagem }}
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th [width]="200">Nome</th>
          <th [width]="200">Email</th>
          <th>Telefone</th>
          <th [width]="200">Documento</th>
          <th>CEP</th>
          <th>Endereço</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Pais</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.documento }}</td>
          <td>{{ cliente.cep }}</td>
          <td>{{ cliente.endereco }}</td>
          <td>{{ cliente.bairro }}</td>
          <td>{{ cliente.cidade }}</td>
          <td>{{ cliente.estado }}</td>
          <td>{{ cliente.pais }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
